<a href="https://colab.research.google.com/github/vnestory/datascience/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Victor_Assignment 21st April, 2012 **Data_types**


1. Integer
2.float
3.   Boolean

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [1]:

x = 1    # integer
y = 2.8
z = 1j   # complex

print(x)

print(type(x))
print(type(y))
print(type(z))     #It picks from all over the page

1
<class 'int'>
<class 'float'>
<class 'complex'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
y = 2.8 # float
print(y)
print(type(y))

2.8
<class 'float'>

**Conversion**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Booleans**

Booleans represent one of two values: True or False.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a